@charset "UTF-8";
/*
 * 页面变量配置
 */
/*
 * 常用的mixin
 */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea {
  margin: 0;
  padding: 0; }

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  border-padding: 0; }

caption, th {
  font-weight: normal; }

html, body, fieldset, img, iframe, abbr {
  border: 0; }

i, cite, em, var, address, dfn {
  font-style: normal; }

[hidefocus], summary {
  outline: 0; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%; }

sup, sub {
  font-size: 83%; }

pre, code, kbd, samp {
  font-family: inherit; }

q:before, q:after {
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

label, summary {
  cursor: default; }

a, button {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: bold; }

del, ins, u, s, a, a:hover {
  text-decoration: none; }

textarea, input, button, select, table {
  font-size: inherit;
  font-family: inherit; }

body {
  background: #fff; }

a {
  color: inherit;
  outline-style: none; }

a:hover {
  color: inherit; }

/*
 * 页面可共用样式
 */
* {
  box-sizing: border-box; }

body {
  min-width: 1200px;
  font: normal normal 12px/1.6 Helvetica, "Microsoft Yahei", Sans-Serif;
  background: #f0f3f6; }

h1, h2, h3, h4 {
  font-family: Helvetica, STXihei, "Microsoft Jhenghei", "Microsoft Yahei", Simhei, Sans-Serif; }

h1 {
  font-size: 20px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 14px; }

p {
  margin-bottom: 10px; }

em {
  color: #ef9b6d; }

button {
  border: none; }

.badge {
  display: inline-block;
  font-size: 12px;
  line-height: 2;
  padding: 0 0.8em;
  border-radius: 0.3em;
  color: #fff;
  background: #999; }

.badge-success, .badge-ok {
  background: #65c178; }

.badge-danger, .badge-error {
  background: #ef9b6d; }

.badge-pending {
  background: #aaa; }

.text-primary {
  color: #384655; }

.text-success, .text-ok, .text-done, .status-ok {
  color: #65c178; }

.text-error, .status-error {
  color: #ef9b6d; }

.text-warning, .status-pending {
  color: #ef9b6d; }

.font-large {
  font-size: 117%; }

.font-larger {
  font-size: 133%; }

.clearfix:before, .head-action:before, .clearfix:after, .head-action:after {
  content: "";
  display: table;
  line-height: 0; }

.clearfix:after, .head-action:after {
  clear: both; }

.hide {
  display: none; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clickable {
  cursor: pointer; }

.global-warning-box {
  background: #ef9b6d;
  color: #fff;
  padding: 1em;
  margin-top: -5px;
  position: relative; }

.fa {
  margin-right: 0.3em; }

.head-action {
  margin: 1em 0; }
  .head-action .btn {
    margin-right: 0; }
  .head-action .tips {
    line-height: 2.8;
    color: #bbb;
    margin: 0; }

.heading {
  color: #566c83; }
  .heading h2 {
    border-bottom: 1px solid #e2e2e2;
    margin: 1em 0;
    padding-bottom: 0.8em; }
  .heading h3 {
    margin: 1em 0; }

.del-confirm {
  padding: 10px 20px; }

.del-warn {
  color: #aaa;
  padding: 15px 10px 0 10px; }

/*
 * 表单元素样式
 */
.btn {
  display: inline-block;
  padding: 0.36em 0.8em;
  margin-bottom: 0;
  margin-right: 0.5em;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none; }
  .btn:hover, .btn:focus {
    outline: none; }

.btn:last-child {
  margin-right: 0; }

.btn-mini {
  font-size: 12px;
  padding: 0.1em 0.8em; }

.btn-small {
  font-size: 12px; }

.btn-medium {
  font-size: 13px; }

.btn-big {
  font-size: 16px; }

.btn-round {
  border-radius: 1.3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  min-width: 6em; }

.btn-default {
  color: #999;
  background-color: #fafafa;
  border: 1px solid #e0e0e0; }
  .btn-default:hover {
    color: #fff;
    background-color: #A0A0A0;
    border: 1px solid #e0e0e0; }

.btn-primary {
  color: #fff;
  background-color: #65c178;
  border: 1px solid #65c178; }
  .btn-primary:hover {
    color: #fff;
    background-color: #46ad5b;
    border: 1px solid #46ad5b; }

.btn-info {
  color: #fff;
  background-color: #384655; }
  .btn-info:hover {
    color: #fff;
    background-color: #242d36; }

.btn-icon {
  background: transparent;
  font-size: 18px;
  border: none; }
  .btn-icon:hover {
    background: transparent;
    border: none; }

.btn-icon .btn-default {
  color: #999; }
  .btn-icon .btn-default:hover {
    color: #384655; }

.btn-icon.btn-primary {
  color: #65c178; }
  .btn-icon.btn-primary:hover {
    color: #46ad5b; }

input::-ms-clear {
  display: none; }

input:not([type]), input[type=text], input[type=password], input[type=url] {
  vertical-align: middle;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  height: 2.5em;
  line-height: normal;
  line-height: 2.5\9;
  padding: 0 .4em;
  width: 200px;
  margin-right: 5px;
  box-shadow: inset 0 1px 3px #eee; }
  input:not([type]):focus, input[type=text]:focus, input[type=password]:focus, input[type=url]:focus {
    outline: none;
    border-color: #98E3A8;
    box-shadow: 1px 2px 2px #ececec;
    transition: border-color 200ms ease-in; }

input[type=url] {
  width: 300px; }

input:not([type]):disabled,
input[type=text]:disabled,
input[type=password]:disabled,
input[type=url]:disabled,
select:disabled {
  border: 1px solid #e9e9e9;
  background-color: #f1f1f1;
  color: #ccc;
  cursor: default;
  cursor: not-allowed; }

input:not([type]):read-only,
input[type=text]:read-only,
input[type=password]:read-only,
input[type=url]:read-only,
input[type=text][readonly=readonly],
input[type=password][readonly=readonly],
input[type=url][readonly=readonly],
select[readonly=readonly] {
  border: 1px solid #e9e9e9;
  background-color: #f1f1f1; }

/* textarea */
textarea {
  border: 1px solid #e9e9e9;
  padding: 0.3em 0.4em; }

textarea:focus {
  outline: none;
  border-color: #98E3A8; }

/* radio and checkbox */
input[type=radio], input[type=checkbox] {
  vertical-align: middle;
  margin-right: 4px;
  *margin-right: 0;
  cursor: pointer;
  position: relative;
  top: -1px;
  *top: 0; }

input[type=radio] {
  margin-left: 1px; }

/* select */
select {
  line-height: 1;
  padding: 0 0.2em;
  height: 2.5em;
  border: 1px solid #e9e9e9;
  width: 200px;
  box-shadow: inset 0 1px 3px #eee;
  margin-right: 5px;
  cursor: pointer; }
  select:focus {
    outline: none;
    border-color: #98E3A8; }

.form:after {
  content: "";
  display: table;
  clear: both; }

.form .item {
  width: 100%;
  margin-bottom: 0.83em;
  line-height: 2.5; }
  .form .item:after {
    content: "";
    display: table;
    clear: both; }

.form .label {
  display: block;
  float: left;
  width: 7em;
  text-align: right;
  padding-right: .5em;
  color: #666;
  line-height: 2.5;
  min-height: 10px; }
  .form .label .required {
    font-weight: bold;
    color: #f00; }

.form .control {
  min-height: 10px;
  padding-bottom: 1px;
  overflow: hidden; }
  .form .control .tips {
    font-size: 12px;
    color: #999; }

.form .note {
  background: #ffffcc;
  border: 1px solid #ffdd9a;
  padding: 5px 15px; }

.form .links {
  line-height: 1.5; }

.form input.input-date {
  width: 80px;
  background-color: #fff; }

.form a:not(.btn) {
  color: #3c77b7; }
  .form a:not(.btn):hover {
    color: #5291d4; }

/* inline form */
.form-inline {
  margin: 1em 0; }
  .form-inline .item {
    float: left;
    margin-right: 2em;
    margin-top: 0.83em;
    width: auto; }
    .form-inline .item .label, .form-inline .item .control {
      display: inline-block;
      width: auto; }

/* error state */
select.error,
textarea.error,
input.error,
.error[type=text],
.error[type=password],
.error[type=checkbox],
.error[type=radio] {
  border-color: #EF9B6D; }

.form .control label.error {
  color: #EF9B6D;
  font-size: 12px; }

/* sizing */
.size-small {
  width: 100px; }

.a-blue {
  color: #277ac9;
  padding: 0 2px; }

.newline-valid {
  margin-bottom: 0; }

/*# sourceMappingURL=global.css.map*/