<html>
<head>
    <meta charset="utf-8">
    <title>demo table</title>
    <link rel="stylesheet" href="../../dist/css/datatable.css">
</head>
<body>
    <div id="demo">
        <data-table :url="api" :datafilter="datafilter">
        <table class="data-table">
            <thead>
                <tr>
                    <th>用户ID</th>
                    <th>标题</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody v-if="list &&  list.length > 0" >
            <tr v-for="item in list">
                <td>{{item.userId}}</td>
                <td>{{item.title}}</td>
                <td>删除</td>
            </tr>
            </tbody>
            <tbody v-else>
            <tr>
                <td colspan="3">无统计数据</td>
            </tr>
            </tbody>
        </table>
        </data-table>
    </div>

    <script type="text/javascript" src="../../dist/js/datatable.js"></script>
</body>
</html>
